.chatBox {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background-color: #000001;
  }
  .userMessage {
    max-width: 75%;
    padding: 12px 16px;
    margin: 8px 0;
    border-radius: 12px;
    background: #0078d7;
    color: #fff;
    align-self: flex-end;
  }
  .botMessage {
    max-width: 75%;
    padding: 12px 16px;
    margin: 8px 0;
    border-radius: 12px;
    background: #2a2a2a;
    color: #e0e0e0;
    align-self: flex-start;
  }
  